*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@font-face {
  font-family: KochAltschrift;
  src: url("/KochAltschrift.ttf");
}

body {
  font-family: KochAltschrift;
}

img {
  display: block;
  max-width: 100%;
}
