.quest-objective-label {
  transition: text-shadow 0.5s;
}

.quest-objective-label:hover {
  text-shadow: 0 0 3px rgb(0 0 0 / 75%);
}

.quest-objective-checkbox {
  appearance: none;
  width: 30px;
  height: 30px;
  background-image: url("/quest-objective-uncompleted.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.quest-objective-checkbox:checked {
  background-image: url("/quest-objective-completed.png");
}
